<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.mapper.ActorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.xdclass.model.ActorDO">
        <id column="actor_id" property="actorId" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="role" property="role" />
        <result column="telephone" property="telephone" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="department" property="department" />
        <result column="sevice_year" property="seviceYear" />
        <result column="hospital" property="hospital" />
        <result column="introduction" property="introduction" />
        <result column="field" property="field" />
        <result column="score" property="score" />
        <result column="photo" property="photo" />
        <result column="price" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        actor_id, password, name, role, telephone, age, gender, department, sevice_year, hospital, introduction, field, score, photo, price
    </sql>

</mapper>
