<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.mapper.PostCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.xdclass.model.PostCommentDO">
        <id column="comment_id" property="commentId" />
        <result column="father_id" property="fatherId" />
        <result column="text" property="text" />
        <result column="actor_id" property="actorId" />
        <result column="create_time" property="createTime" />
        <result column="root_id" property="rootId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, father_id, text, actor_id, create_time, root_id
    </sql>

</mapper>
